# Build and push solids4foam docker images to docker hub
name: Build and push docker images

on:
  workflow_run:
    workflows: ["Build and test"]
    types: [completed]
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - { version: "v2012", file: "Dockerfile.openfoamv2012" }
          - { version: "9", file: "Dockerfile.openfoam9" }
          - { version: "foam-extend-4.1", file: "Dockerfile.foamextend41" }

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the ${{ matrix.image.version }} image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: solids4foam/solids4foam-v2.0-${{ matrix.image.version }}:latest
          file: ${{ matrix.image.file }}
